.section-cover {
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  margin-left: 48px;
  margin-right: 48px;
}
@media screen and (max-width: 1279px) {
  .section-cover {
    margin-left: 0;
    margin-right: 0;
  }
} 