.page-brim {
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    max-width: 1184px;
  }
  @media screen and (max-width: 1280px) {
    .page-brim {
      margin-left: 48px;
      margin-right: 48px;
    }
      
  } 
  @media screen and (max-width: 867px) {
    .page-brim {
      margin-left: 24px;
      margin-right: 24px;
    }
  } 
  @media screen and (max-width: 720px) {
    .page-brim {
      margin-left: 16px;
      margin-right: 16px;
    }
  } 
  @media screen and (max-width: 539px) {
    .page-brim {
      margin-top: 16px;
    }
  } 