.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}
@media screen and (max-width: 1279px) {
  .photo-grid { 
    gap: 14px;
  }
}
@media screen and (max-width: 867px) {
  .photo-grid { 
    gap: 16px;
  }
}