.header {
  margin-top: 28px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media screen and (max-width: 539px) {
  .header {
    margin-top: 16px;
    align-items: center;
  }
} 