.section-top {
  margin-top: 92px;
}
@media screen and (max-width: 867px) {
  .section-top {
    margin-top: 88px;
  }
} 
@media screen and (max-width: 720px) {
  .section-top {
    margin-top: 64px;
  }
} 