.cover {
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 1184px;
  min-height: 740px;
  object-fit: cover;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  gap: 32px;
}
.cover:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
}
.cover:hover:before {
  opacity: 0.8;
}
@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
    min-height: calc(100vw/1.6);
  }
}
@media screen and (max-width: 539px) {
  .cover {
    gap: 16px;
  }
} 