.header__lang-list{
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 18px;
    margin-bottom: 6px;
}
@media screen and (max-width: 539px) {
    .header__lang-list {
      margin-top: 14px;
      margin-bottom: 0px;
    }
  } 